
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 20px;
        }
        header {
            text-align: center;
            padding: 20px 0;
            background-color: #003366;
            color: white;
        }
        section {
            margin-bottom: 40px;
        }
        .news-intro {
            display: block;
            cursor: pointer;
            color: #007BFF;
            margin-bottom: 10px;
        }
        .news-content {
            display: none;
            padding-left: 20px;
        }
        .wechat-articles ul {
            list-style-type: none;
            padding: 0;
        }
        .wechat-articles ul li {
            margin-bottom: 10px;
        }
        video {
    width: 80%; /* 设置视频初始宽度为页面宽度的80% */
    max-width: 600px; /* 最大宽度设置为600px */
    height: auto; /* 自动调整高度，保持宽高比 */
    display: block;
    margin: 10px auto; /* 居中显示 */
    border: 2px solid #097ef3;
}

/* 视频全屏时的样式 */
video:fullscreen {
    width: 80%;
    height: 70%;
}
.carousel {
    position: relative;
    max-width: 70%; /* 宽度为页面宽度的80% */
    margin: 0 auto; /* 居中显示 */
    overflow: hidden; /* 隐藏溢出的部分 */
    border: 2px solid #2c3e50;
    border-radius: 8px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 比例控制 */
    position: relative;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel img {
    width: 100%;
    display: block;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-control-prev {
    left: 20px;
}

.carousel-control-next {
    right: 20px;
}   
